html{
scroll-behavior: smooth;
scroll-padding-top: var(--scroll-padding, 100px);
}
.fa-search {
  font-size: 30px;
  margin-right: 10px;
  margin-bottom: 4px;
  border: none;
  background: none;
}

.logo {
  height: 50px;
  margin-left: 30px;
}

.search {
  margin-right: 40px;
  position: static;
  display: flex;
}

.navbar-nav a {
  position: relative;
  color: white;
  margin: 14px;
  z-index: 2;
}
.navbar-nav a:before {
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: red;
  height: 1px;
  transform-origin: bottom left;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}
.navbar-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 730px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .sandwitch {
    margin: auto;
  }
}

.principal {
  background-image: url("../assets/principal.png");
  background-size: cover;
  background-position: center 3%;
  background-repeat: no-repeat;
  height: 1000px;
}

.btn-main {
  background-color: rgba(255, 255, 255, 0.384);
  color: white;
  height: 40px;
  width: 400px;
}

.catalog{
  background-color: black;
  height: 1650px;
  width: auto;
  color: white;
}

.bla{
  height: 300px;
}
.cards-wrapper{
  width: inherit;
  display: flex;
  justify-content: space-around;
}
.btn-next{
  width: 40px;
}

.btn-prev{
  width: 40px;
}
.footer{
  background-color: rgba(0, 0, 0, 0.938);
  color: white;
  height: 350px;
  width: auto;
}

.fa-footer-icon{
  font-size: 30px;
  background-color: none;
  border: none;
  color: rgb(109, 106, 106);
  margin: 10px;
}

.footer .col-3{
  width: 300px;
  margin-top: 30px;
}

.col-3 h4{
  margin-top: 10px;
  padding: 6px;
  color: rgb(109, 106, 106);
  font-size: 20px;
}
.col-3 h5{
  margin-top: 26px;
  font-size: 15px;
  color: rgb(109, 106, 106);
}

.btn-footer{
  color: rgb(109, 106, 106);
  border-color: rgb(109, 106, 106);

}
