#root body html footer {
  width: 100vw;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 150px);
}

.fa-search {
  font-size: 30px;
  margin-right: 10px;
  margin-bottom: 4px;
  border: none;
  background: none;
}

.logo {
  height: 50px;
  margin-left: 30px;
}

.search {
  margin-right: 40px;
  position: static;
  display: flex;
}

.navbar-nav a {
  position: relative;
  color: white;
  margin: 14px;
  z-index: 2;
}
.navbar-nav a:before {
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: red;
  height: 1px;
  transform-origin: bottom left;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}
.navbar-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.principal {
  background-image: url("../assets/principal.png");
  background-size: cover;
  background-position: center 3%;
  background-repeat: no-repeat;
  height: 1000px;
}

.btn-main {
  background-color: rgba(255, 255, 255, 0.384);
  color: white;
  height: 40px;
  width: 400px;
}

.catalog {
  background-color: black;
  height: 1690px;
  width: 100vw;
  color: white;
}
.card-header {
  height: inherit;
}

.cards-wrapper {
  width: auto;
  display: flex;
  justify-content: space-around;
}
.btn-next {
  width: 40px;
}

.btn-prev {
  width: 40px;
}
.footer {
  background-color: rgba(0, 0, 0, 0.938);
  color: white;
  height: 380px;
  width: 100vw;
}

.fa-footer-icon {
  font-size: 30px;
  background-color: none;
  border: none;
  color: rgb(109, 106, 106);
  margin: 10px;
}

.footer .cols {
  width: 350px;
  margin: 20px;
}

.cols h4 {
  margin-top: 10px;
  padding: 6px;
  color: rgb(109, 106, 106);
  font-size: 20px;
}
.cols h5 {
  margin-top: 26px;
  font-size: 15px;
  color: rgb(109, 106, 106);
}

.btn-footer {
  color: rgb(109, 106, 106);
  border-color: rgb(109, 106, 106);
}
.img-stranger {
  width: 990px;
  height: 200px;
}

@media screen and (max-width: 780px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 314px) {
  .sandwitch {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1434px) {
  .footer {
    height: 750px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    height: 1200px;
  }
  .catalog {
    height: 900px;
  }
}
