.fa-search {
  font-size: 30px;
  margin-right: 10px;
  margin-bottom: 4px;
  border: none;
  background: none;
}

.logo {
  height: 50px;
  margin-left: 30px;
}

.search {
  margin-right: 40px;
  position: static;
  display: flex;
}

.navbar-nav a {
  position: relative;
  color: white;
  margin: 14px;
  z-index: 2;
}
.navbar-nav a:before {
  content: "";

  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: red;
  height: 1px;
  transform-origin: bottom left;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}
.navbar-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 730px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .sandwitch {
    margin: auto;
  }
}
